/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #000;
  color: white;
  scroll-behavior: smooth;
}

/* CONTAINER BASE */
.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 100%);
  padding: 10px 0;
  z-index: 10;
  box-shadow: none;
  backdrop-filter: none;
}

/* LOGO E TEXTO */
.logo-area {
  display: flex;
  align-items: center;
  gap: 7px;

}

.logo {
  width: 70px;
  height: auto;
  transform: scale(1.2);
  transform-origin: center;
}

.brand {
  font-size: 23px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.brand span {
  color: #f36a09;
}

/* MENU CENTRAL */
.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu-center {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu-center a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.menu-center a:hover,
.menu-center a.ativo {
  color: #f36a09;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* LOGIN / CADASTRO */
.menu-right {
  list-style: none;
  display: flex;
  gap: 18px;
}

#login,
#cadastro {
  background-color: #f36a09;
  padding: 6px 16px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

#login:hover,
#cadastro:hover {
  background-color: #fff;
  color: #2A1110;
}

/* bloco 1 */
.bemvindo {
  height: 100vh;
  background: url(../../assets/imgs/bem-vindo.png) no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0px;
  
}

.bemvindo .conteudo {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.bemvindo h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.bemvindo p {
  font-size: 22px;
  margin-bottom: 30px;
}

.bemvindo button {
  background-color: #f36a09;
  border: none;
  padding: 12px 28px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 400px;
  color: white;

}

.bemvindo button:hover {
  background-color: #fff;
  color: #2A1110;
}

/* SEÇÕES GERAIS */
.bloco {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-top: 2px solid #222;
  text-align: center;
  padding: 40px 20px;
}

.bloco h2 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 40px;
}

.bloco p {
  font-size: 18px;
  color: #ccc;
  max-width: 600px;
}

.blococarrosel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-top: 2px solid #222;
  text-align: center;
  padding: 40px 20px;

}

.blococarrosel h2 {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;

}

/* BLOCO CLUBE */
#clube.bloco-duplo {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 80px 8%;
  min-height: 100vh;
  background-color: white;
}

/* COLUNAS IGUAIS */
#clube .lado-esquerdo,
#clube .lado-direito {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* IMAGEM */
#clube .lado-esquerdo img {
  width: 100%;
  max-width: 550px;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.45);
  margin-top: 120px;
  margin-left: 50px;
}

/* TÍTULO */
#clube .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 170px;

}

#carrosel .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 40px;
}

/* BARRA */
#clube .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;
}

#carrosel .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;

}

#clube .conjunto-titulo {
  margin-top: -130px;
}

#clube p {
  font-size: 22px;
  line-height: 1.5;
  color: #000000;
  max-width: 600px;
  margin-top: 8px;
  text-align: justify;

}

#campori.bloco-duplo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 80px 8%;
  min-height: 100vh;
  background-color: #000000;

}

/* COLUNAS IGUAIS */
#campori .lado-direito,
#campori .lado-esquerdo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Forçar ordem certa */
#campori .lado-esquerdo {
  order: 1;
  margin-left: 10px;

}

#campori .lado-direito {
  order: 2;
  margin-left: 50px;

}

#campori .lado-direito img {
  width: 100%;
  max-width: 550px;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.45);
  margin-top: 60px;
}

/* TÍTULO */
#campori .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 100px;

}

#carrosel .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
}

/* BARRA */
#campori .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;
}

#carrosel .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;

}

.conjunto-titulo {
  margin-top: -130px;

}

#campori p {
  font-size: 22px;
  line-height: 1.5;
  color: #ffffff;
  max-width: 600px;
  margin-top: 8px;
  text-align: justify;

}

.bloco-frase {

  background-image: url(../../assets/imgs/frase.jpg);
  padding: 200px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-top: 2px solid #222;
  text-align: center;


}

.bloco-frase p {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
  text-align: left;
  font-family: "Times New Roman", sans-serif;


}

.bloco-frase h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: left;
  font-family: "Times New Roman", sans-serif;


}

/* Carrosel */
#img_carrosel {
  width: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

#dentro_carrosel_div {
  width: 100vh;
  height: 100%;
  background-size: cover;
  border: 2px solid black;
}

.adicionar_anima_carrosel {
  animation: animado_carrosel 4s infinite;
}

/* uma regra pra definir os diferentes estágios de uma animação */
@keyframes animado_carrosel {
  0% {
    transform: translateX(-100vh) scale(0.8);
    opacity: 0
  }

  50% {
    transform: translateX(0px) scale(1);
    opacity: 1
  }

  100% {
    transform: translateX(100vh) scale(0.8);
    opacity: 0
  }
}


/* VOZ DO CASTOR*/
.voz-castor {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-top: 2px solid #222;
  text-align: center;
}

.voz-castor h2 {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
}

.voz-castor .linha {
  width: 1000px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;
}

.voz-castor .subtitulo {
  font-size: 22px;
  line-height: 1.5;
  color: #ffffff;
  max-width: 1000px;
  margin-top: -10px;
  text-align: justify;
}

/*Div card */
.cards {
  margin-top: 110px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 150px;
}

/* card */
.card {
  background: #fff;
  width: 330px;
  padding: 120px 20px 60px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: transform .3s;
  overflow: visible;
}

.card:hover {
  transform: translateY(-10px);
}

/*FOTO*/
.card .foto {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

/* TEXTO DO CARD */
.card h3 {
  margin-top: -10px;
  font-size: 22px;
  color: #2b1b1b;
}

.card p {
  margin-top: 15px;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}


/* CONTATO */
.contato-bloco {
  background-image: url(../../assets/imgs/contato.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-top: 2px solid #222;
  color: white;
}

/* TÍTULO */
.contato-bloco .conjunto-titulo {
  width: 100%;
  text-align: left;
  max-width: 900px;
  margin-bottom: 40px;
  margin-left: 0;
  margin-top: -40px;
}

.contato-bloco .conjunto-titulo h2 {
  font-family: "Times New Roman", serif;
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 10px;
}

.contato-bloco .conjunto-titulo .linha {
  width: 350px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
}

/* CONTAINER CENTRALIZADO */
.contato-bloco .container-contato {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  margin-top: 10px;
}

/* COLUNA ESQUERDA */
.contato-bloco .col-esquerda {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

/* INPUTS ESQUERDA */
.contato-bloco .col-esquerda input {
  width: 100%;
  padding: 12px 18px;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background: rgba(255, 255, 255, 0.96);
}

/* COLUNA DIREITA */
.contato-bloco .col-direita {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* TEXTAREA DIREITA */
.contato-bloco .col-direita textarea {
  width: 100%;
  height: 79px;
  padding: 18px;
  font-size: 18px;
  border-radius: 14px;
  resize: none;
  border: none;
  background: rgba(255, 255, 255, 0.96);
}

.contato-bloco .botao-enviar {
  margin-top: 35px;
  margin-left: 0;
  padding: 8px;
  background-color: #f36a09;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  width: 130px;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;

}

.contato-bloco .botao-enviar:hover {
  background-color: #fff;
  color: #2A1110;
}


/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: white;
  padding: 60px 40px;
}

.redes-sociais h3 {
  font-weight: 700;
}

.contato h3 {
  font-weight: 700;
}

.campo h3 {
  font-weight: 700;
}

.container-footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -7px;
}

.container-footer-top .contato span,
.container-footer-top .campo span,
.container-footer-top .redes-sociais span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  gap: 8px;
}

.container-footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-footer-bottom span {
  display: flex;
  gap: 8px;
  font-weight: 400;
}

.footer a {
  color: white;
  text-decoration: none;
}