* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bloco {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-top: 2px solid #222;
    text-align: center;

}

.bloco h2 {
    color: #ffffff;
    margin-bottom: 15px;
    font-size: 40px;
}

.bloco p {
    font-size: 18px;
    color: #ccc;
    max-width: 600px;
}