/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  background-color: #000;
  color: white;
  scroll-behavior: smooth;
}

/* CONTAINER BASE */
.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 100%);
  padding: 10px 0;
  z-index: 10;
  box-shadow: none;
  backdrop-filter: none;
}

/* LOGO E TEXTO */
.logo-area {
  display: flex;
  align-items: center;
  gap: 7px;

}

.logo {
  width: 70px;
  height: auto;
  transform: scale(1.2);
  transform-origin: center;
}

.brand {
  font-size: 23px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
}

.brand span {
  color: #f36a09;
}

/* MENU CENTRAL */
.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu-center {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu-center a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.menu-center a:hover,
.menu-center a.ativo {
  color: #f36a09;
  /* text-decoration: underline; */
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* LOGIN / CADASTRO */
.menu-right {
  list-style: none;
  display: flex;
  gap: 18px;
}

#login,
#cadastro {
  background-color: #f36a09;
  padding: 6px 16px;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

#login:hover,
#cadastro:hover {
  background-color: #fff;
  color: #2A1110;
}

/* bloco 1 */
.bemvindo {
  height: 100vh;
  background: url('../assets/imgs/bem-vindo.png') no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 0px;
}

/* .bemvindo .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 25, 25, 0.5);
} */

.bemvindo .conteudo {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.bemvindo h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.bemvindo p {
  font-size: 22px;
  margin-bottom: 30px;
}

.bemvindo button {
  background-color: #f36a09;
  border: none;
  padding: 12px 28px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 400px;
  color: white;

}

.bemvindo button:hover {
  background-color: #fff;
  color: #2A1110;
}

/* SEÇÕES GERAIS */
.bloco {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-top: 2px solid #222;
  text-align: center;
  padding: 40px 20px;
}

.bloco:nth-child(even) {
  background-color: #3d3b3b;
}

.bloco h2 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 40px;
}

.bloco p {
  font-size: 18px;
  color: #ccc;
  max-width: 600px;
}

.blococarrosel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-top: 2px solid #222;
  text-align: center;
  padding: 40px 20px;

}

.blococarrosel h2 {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;

}

/* BLOCO CLUBE */
#clube.bloco-duplo {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 80px 8%;
  min-height: 100vh;
}

/* COLUNAS IGUAIS */
#clube .lado-esquerdo,
#clube .lado-direito {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* IMAGEM */
#clube .lado-esquerdo img {
  width: 100%;
  max-width: 550px;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.45);
}

/* TÍTULO */
#clube .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 10px;
}

#carrosel .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 10px;
}

/* BARRA */
#clube .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;
}

#carrosel .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;

}

#clube .conjunto-titulo {
  margin-top: -130px;
}

/* TEXTO */
#clube p {
  font-size: 22px;
  line-height: 1.5;
  color: #ddd;
  max-width: 600px;
  margin-top: 8px;
  text-align: justify;

}


/* BLOCO CAMPORI */

/* Remover margin negativa no Campori */
#campori .conjunto-titulo {
  margin-top: 0;
}

#campori.bloco-duplo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 80px 8%;
  min-height: 100vh;
  background-color: #ffffff;

}

/* COLUNAS IGUAIS */
#campori .lado-direito,
#campori .lado-esquerdo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Forçar ordem certa */
#campori .lado-esquerdo {
  order: 1;
  margin-left: -30px;

}

#campori .lado-direito {
  order: 2;
  margin-left: 25px;

}

/* Imagem verdadeira do Campori */
#campori .lado-direito img {
  width: 100%;
  max-width: 550px;
  border-radius: 18px;
  object-fit: cover;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.45);
}


/* TÍTULO */
#campori .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 10px;
}

#carrosel .titulo {
  font-size: 40px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 10px;
}

/* BARRA */
#campori .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;
}

#carrosel .linha {
  width: 600px;
  height: 4px;
  background-color: #f36a09;
  border-radius: 4px;
  margin-bottom: 25px;

}

.conjunto-titulo {
  margin-top: -130px;

}

/* TEXTO */
#campori p {
  font-size: 22px;
  line-height: 1.5;
  color: #000000;
  max-width: 600px;
  margin-top: 8px;
  text-align: justify;

}

.bloco-frase {

  background-image: url(../assets/imgs/frase.jpg);
  padding: 200px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-top: 2px solid #222;
  text-align: center;


}

.bloco-frase p {
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  margin-top: 20px;
  text-align: left;
  font-family: "Times New Roman", sans-serif;


}

.bloco-frase h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: left;
  font-family: "Times New Roman", sans-serif;


}










/* Carrosel */

#img_carrosel {
  width: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3%;
}

#dentro_carrosel_div {
  width: 100vh;
  height: 100%;
  background-size: cover;
  border: 2px solid black;
}

.adicionar_anima_carrosel {
  animation: animado_carrosel 4s infinite;
}

/* uma regra pra definir os diferentes estágios de uma animação */
@keyframes animado_carrosel {
  0% {
    transform: translateX(-100vh) scale(0.8);
    opacity: 0
  }

  50% {
    transform: translateX(0px) scale(1);
    opacity: 1
  }

  100% {
    transform: translateX(100vh) scale(0.8);
    opacity: 0
  }
}


/* FOOTER */
.footer {
  background-color: #000;
  text-align: center;
  padding: 30px 0;
  color: #bbb;
  font-size: 14px;
}

/* RESPONSIVIDADE */
/* @media (max-width: 1024px) {
  .menu-center {
    gap: 18px;
  }

  .brand {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }

  .navbar {
    order: 3;
  }

  .menu-right {
    order: 2;
  }

  .logo-area {
    order: 1;
  }

  .hero h1 {
    font-size: 34px;
  }

  .hero p {
    font-size: 18px;
  }

  .menu-center {
    flex-wrap: wrap;
    justify-content: center;
  }
} */