* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Barlow', sans-serif;
    background: #0c0c0c;
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: #151515;
    border-right: 3px solid #ff8c00;
    padding: 30px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.usuario-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.foto-perfil-mini {
    width: 90px;
    height: 90px;
    background: #222;
    border-radius: 50%;
    border: 1px solid #ff8c00;
    background-size: cover;
    background-position: center -5%;
    background-repeat: no-repeat;
}

.nome-usuario {
    font-size: 16px;
    color: #ffd27f;
    font-weight: 600;
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 200px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 15px;
    border-radius: 8px;
    transition: 0.25s;
    background: #1b1b1b;
    border-left: 4px solid transparent;
}

.menu a:hover,
.menu .ativo {
    background: #ff8c00;
    color: #ffffff;
    transform: translateX(4px);
}

.btn-sair a {
    display: block;
    background: #8b0000;
    padding: 12px;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

.btn-sair a:hover {
    background: #b30000;
}

.conteudo {
    margin-left: 270px;
    padding: 35px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #121212;
}

.titulo-pagina {
    font-size: 36px;
    color: #ffd27f;
    margin-bottom: 30px;
    text-shadow: 1px 1px 6px #ff8c0044;
}

.kpi-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 45px;
}

.kpi {
    background: linear-gradient(145deg, #1f1f1f, #121212);
    border-radius: 18px;
    padding: 25px 20px;
    flex: 1 1 22%;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.kpi:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);
}

.kpi h3 {
    color: #ffd27f;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.kpi span {
    display: block;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.grafico-container-barras {
    background: linear-gradient(145deg, #1f1f1f, #121212);
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border: 2px solid #4BC0C0;
    flex: 1 1 48%;
    height: 460px;
}

.graficos-lado {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.grafico-container {
    background: linear-gradient(145deg, #1f1f1f, #121212);
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border: 2px solid #4BC0C0;
    flex: 1 1 48%;
}

.grafico-titulo {
    color: #ffd27f;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

canvas {
    width: 100% !important;
    height: 350px !important;
}