# A linha abaixo determina que o diretório node_modules não será enviado ao repositório remoto
node_modules
package-lock.json

# Ignorar a pasta .github (configurações específicas de actions, etc)
.github/

# Ignorar arquivos .env (variáveis de ambiente, credenciais sensíveis)
.env
.env.dev

# Ignorar a pasta .vscode (configurações pessoais do VS Code)
.vscode/
